/* Rashna's CSS */

/* Fonts */

/* For nav links */
@font-face {
    font-family: Gotham-Bold;
    src: url(../fonts/Gotham-Bold.ttf);
}
@font-face {
    font-family: Gotham-Book;
    src: url(../fonts/Gotham-Book.ttf);
}
/* For normal text */
@font-face {
    font-family: Gotham-Medium;
    src: url(../fonts/Gotham-Medium.ttf);
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 50px; /* bottom = footer height */
  font-family: 'Gotham-Book', Verdana, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
}
p {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.10);
  font-size: 0.875em;
  line-height: 2em;
  padding: 0 10vw;
  margin-bottom: 20px
}
h1 {
  font-family: 'Gotham-Medium', sans-serif;
  font-weight: 800;
  font-size: 2em;
  line-height: 1.5em;
  color: #fff;
  text-shadow: 1px 1px 1px #787777;
  text-align: center;
  margin: 0;
}
h2 {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.5em;
  font-family: 'Gotham-Medium';
  color: #fff;
  margin: 0;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.bold {
  font-weight: 700;
  margin-bottom: 15px;
}
a, a:active, a:link, a:visited {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  line-height: 2em;
  color: #4D9DE0;
}
a:hover {
  color: #97e5d7;
}
::selection {
    background: #00DBB5;
    color: #fff;
}
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2c2c2c;
  color: #fff;
  height: 60px;
  position: relative;
}
header {
  position: fixed;
  width: 100%;
  padding: 7px 40px 0;
  -webkit-transition: background ease 0.5s;
  transition: background ease 0.5s;
  z-index: 998;
  box-sizing: border-box;
}
header.alt-color {
  background: rgba(255, 255, 255, 0.96);
  -webkit-transition: background ease 0.5s;
  transition: background ease 0.5s;
  border-bottom: 1px solid #E9EDF3;
}
header.alt-color svg #R, header.alt-color svg #Combined-Shape {
  fill: #1F87EE;
}
header.alt-color svg #Rashna-Razdan {
  fill: #425874;
}

.button {
  border-radius: 4px;
  padding: 8px 20px;
  text-transform: uppercase;
  font-family: 'Gotham-Bold';
  font-size: 0.35em;
  text-decoration: none;
  display: inline-block;
  color: #F3F3F3;
  border: 2px solid #F3F3F3;
}
.button:hover {
  background-color: #F3F3F3;
  color: #1A67EB;
}
a.button {
  color: #fff;
}

/* Header */
header nav.navLinks a {
  color: #fff;
  font-family: "Gotham-Book";
}
header nav.navLinks a:hover {
  color: #00dbb5;
}
.logo {
  float: left;
}
.logo img {
  height: 34px;
}
nav {
  float: right;
}
.menu-icon {
  display: none;
}
nav ul {
  list-style: none;
}
nav li {
  display: inline-block;
  float: left;
  margin-left: 40px;
}
nav li a {
  text-transform: uppercase;
  font-family: 'Gotham-Bold';
  letter-spacing: 1px;
  font-size: 0.75em;
  text-decoration: none;
  color: #F3F3F3;
  line-height: 1;
}
header.alt-color nav li a {
  color: #949EAC;
}

/* SVG */
.logo svg {
  width: 180px;
  height: 56px;
}
.logo a {
  line-height: 1.4;
}

/* Hero */
.hero {
    height: 98vh;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    background-color: #4D9DE0;
}
.hero .seq i {
  font-size: 1.5em;
  vertical-align: middle;
  padding-left: 5px;
}
.seperatorLine {
  content: " ";
  display: block;
  height: 17px;
  background-color: #00DBB5;
}
.intro {
  padding: 15vh 0 0 0;
}
.intro .hello {
  color: #ffffff;
}
.intro .latest:before, .intro .latest:after {
  content: " ";
  background-color: #EEEEEE;
  width: 20vw;
  height: 3px;
  display: inline-block;
  margin-bottom: 5px;
}
.intro .latest {
  font-family: 'Gotham-Medium';
  font-size: 1.3em;
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 1px 1px #787777;
}

/* Footer */
footer .left {
  top: 25px;
  position: relative;
  font-size: 0.75em;
  padding-left: 30px;
}
footer .right {
  padding: 20px 30px 5px 0;
  font-size: 1.7em;
}
.footerNav ul {
  margin: 0;
  list-style: none;
}
.footerNav li {
    border-left: 1px solid #fff;
    display: inline;
    line-height: 14px;
    margin-left: 15px;
    padding-left: 20px;
}
.footerNav li:first-child {
    border-left: none;
}
.footerNav li a {
  color: #fff;
  line-height: 1;
}
.footerNav li a:hover {
  color: #00DBB5;
}
/* Work */
.work {
  padding-top: 30px;
}
.work img {
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.work .tileblock {
  background-color: #f1f1f1;
}
.work .tileblock a {
  display: inline-block;
  line-height: 0;
  background-color: #fff;
}
.work .tileblock img:hover {
  opacity: 0.45;
}
.work .thumbnailTitle {
  padding-left: 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  margin: 10px 0 10px 0;
}

.work .textBlock {
  height: 30px;
  margin-top: -6px;
  padding: 0 5px 0 10px;
  font-size: 12px;
}

.sectionTitle {
  color: #425874;
  line-height: 1.2;
  text-shadow: none;
}
.sectionTitle:after {
  content: " ";
  border: 2px solid #4D9DE0;
  display: block;
  width: 7%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.productShowcase {
  height: 80vh;
  width: 100%;
  position: relative;
  z-index: 1;
}
.productShowcaseFrenchOven {
  background: url(../../images/projects/frenchOvenShowcase.jpg) center/cover no-repeat;
}
.productShowcaseBlocBox {
  background: url(../../images/projects/blocBoxShowcase.jpg) center/cover no-repeat;  
}
.productShowcaseAwestruck {
  background: url(../../images/projects/awestruckShowcase.jpg) center/cover no-repeat;
}
.productShowcaseWeddingWebsite {
  background: url(../../images/projects/weddingWebsiteShowcase.jpg) center/cover no-repeat;
}
.productShowcaseNexj {
  background: url(../../images/projects/nexjShowcase.jpg) center/cover no-repeat;
}
.productShowcaseHealthyEating {
    background: url(../../images/projects/healthyEatingShowcase.jpg) center/cover no-repeat;
}
.productShowcasePortfolio {
    background: url(../../images/projects/portfolioShowcase.jpg) center/cover no-repeat;
}

.productShowcase:after {
  background: rgba(2,15,23,.55);
  content: "";
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.productShowcase .container {
  top: 60%;
  position: relative;
}
.productShowcase .title {
  color: #fff;
  text-align: center;
  font-size: 2.2em;
  top: 250px;
  font-family: 'Gotham-Book';
  font-weight: 700;
}

#about {
  background-color: #4D9DE0;
  padding: 40px 0 25px;
  color: #fff;
  line-height: 1.5em;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.10);
  border-bottom: 1px solid #3e88c4;
  border-top: 1px solid #3e88c4;
}
.aboutMe div {
  border: 0;
}
.aboutMe .row {
  margin-bottom: 0;
}
.aboutMe .bold {
  font-size: 1.750em;
  font-family: "Gotham-Medium";
}
.skillList {
  list-style: none;
  padding-left: 0px;
}
.skillList li {
  margin-bottom: 15px;
}
.skill1 {
  background: #9A74CE;
  height: 28px;
  padding-top: 10px;
  width: 100%;
}
.skill1 span {
  color: #fff;
  font-size: 15px;
  padding-left: 15px;
}
.skill2 {
  background: #FF9478;
  height: 28px;
  padding-top: 10px;
  width: 80%;
}
.skill2 span {
  color: #fff;
  font-size: 15px;
  padding-left: 15px;
}
.skill3 {
  background: #FCD670;
  height: 28px;
  padding-top: 10px;
  width: 65%;
}
.skill3 span {
  color: #fff;
  font-size: 15px;
  padding-left: 15px;
}
.skill4 {
  background: #DAA25A;
  height: 28px;
  padding-top: 10px;
  width: 80%;
}
.skill4 span {
  color: #fff;
  font-size: 15px;
  padding-left: 15px;
}
.skill5 {
  background: #7AC292;
  height: 28px;
  padding-top: 10px;
  width: 65%;
}
.skill5 span {
  color: #fff;
  font-size: 15px;
  padding-left: 15px;
}
.skill6 {
  background: #F49B6C;
  height: 28px;
  padding-top: 10px;
  width: 75%;
}
.skill6 span {
  color: #fff;
  font-size: 15px;
  padding-left: 15px;
}
.row .resume {
  font-size: 1.75em;
}
.resume i {
  font-size: 2em;
  padding-right: 10px;
  vertical-align: sub;
}
.contact {
  background-color: #2C2C2C;
  padding: 30px 0 20px;
  text-align: center;
}
.contact .container {
  border-bottom: 0.1px solid #3d3c3c;
  width: 70%;
  padding-bottom: 60px;
  padding-top: 20px;
}
.contact .subtitle {
  font-size: 1em;
  font-family: 'Gotham-Book';
  color: #BFD5F2;
  margin-bottom: 20px;
  line-height: 2.75em;
}
.subnav {
  background-color: #00DBB5;
  color: #fff;
  margin-bottom: 40px;
}
.subnav ul {
  margin: 0;
  text-align: center;
}
.subnav ul li {
  display: inline;
}
.subnav ul li a:hover {
  background-color: #06c0c8;
}
.subnav ul li a {
  padding: 8px 14px;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
#background {
  margin-top: 60px;
}

/* Case */
.caseInfo .heading {
  font-size: 0.875em;
  padding: 10px 10vw;
}
.caseInfo img {
  padding: 20px 0;
  max-width: 100%;
  display: block;
  margin: auto;
}
.caseInfo ul {
  padding: 0 12vw;
}
.caseInfo ul li {
  line-height: 1.5;
  font-size: 0.875em;
}
/* Media Queries */
@media only screen and (max-width: 829px) {
  h1 {
    font-size: 2em;
  }
  .latest {
    font-size: 1em;
  }
}
@media handheld, only screen and (max-width: 867px)
.hero {
    height: 400px;
}

/* Animation */
.fade_in {
    -webkit-animation: fade_in .7s 0s 1 ease-out;
    -moz-animation: fade_in .7s 0s 1 ease-out;
}
@keyframes fade_in {
  0% {
    opacity: 0;
    -webkit-transform: scale(.9);
  }
  100% {
      opacity: 1;
      -webkit-transform: scale(1);
  }
}

/* Responsive menu */
@media screen and (max-width : 760px) {
  h1 {
    font-size: 1.8em;
  }
  .intro {
    padding-top: 70px;
  }
  .logo svg {
    height: 45px;
  }
  .logo .text {
    display: none;
  }
  .intro .latest {
    font-size: 1em;
  }
  /* Slider */
  .seq .seq-title .slider-logo {
    height: 45vh;
  }
}

/* Width media queries */
@media screen and (max-width : 800px) {
  .productShowcase .title {
    font-size: 1.7em;
  }
  p {
    font-size: 0.78em;
  }
  .caseInfo ul li {
    font-size: 0.78em;
  }
}

@media screen and (max-width : 666px) {
  .logo svg {
    display: none;
  }
  nav {
    float: none;
  }
  nav ul {
    text-align: center;
    padding-left: 0;
  }
  nav li {
    float: none;
    margin-left: 25px;
  }
  .logo .text {
    display: none;
  }
  .productShowcase .title {
    font-size: 1.5em;
  }
  footer .right {
    font-size: 1.2em;
    padding: 20px 40px 0 0;
  }
  footer .left {
    padding-left: 20px;
  }
  footer ul {
    padding: 0;
  }
  .footerNav li:first-child {
    padding: 0;
    margin-left: 0;
  }
}
@media screen and (max-width : 570px) {
  header {
    padding-right: 0;
    padding-left: 0;
  }
  h1 {
    font-size: 1.3em;
  }
  .caseInfo ul li {
    font-size: 0.78em;
  }
  .intro .latest {
    font-size: 1em;
  }
  .intro .latest:before, .intro .latest:after {
    width: 13vw;
  }
  nav ul li:first-child {
    margin-left: 0;
  }
  nav li {
    margin-left: 20px;
    font-size: 0.9em;
  }
}
@media screen and (max-width : 438px) {
  footer {
    height: 100px;
    text-align: center;
  }
  footer .left {
    padding: 20px 0 0;
    top: 0;
    float: none !important;
  }
  footer .right {
    padding: 15px 0 10px;
    float: none !important;
  }
}
/* Height media queries */
@media screen and (max-height : 680px) {
  .productShowcase {
    height: 96vh;
  }
}
/*!
 * Materialize v0.97.6 (http://materializecss.com)
 * Copyright 2014-2015 Materialize
 * MIT License (https://raw.githubusercontent.com/Dogfalo/materialize/master/LICENSE)
 */
/*******************
  Utility Classes
*******************/
.hide {
  display: none !important;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center, .center-align {
  text-align: center;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.no-select, input[type=range],
input[type=range] + .thumb {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.circle {
  border-radius: 50%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-padding {
  padding: 0 !important;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 95%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 80%;
  }
}

.container .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .col {
  float: left;
  box-sizing: border-box;
  padding: 0 0.75rem;
}

.row .col[class*="push-"], .row .col[class*="pull-"] {
  position: relative;
}

.row .col.s1 {
  width: 8.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s2 {
  width: 16.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s3 {
  width: 25%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s4 {
  width: 33.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s5 {
  width: 41.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s6 {
  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s7 {
  width: 58.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s8 {
  width: 66.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s9 {
  width: 75%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s10 {
  width: 83.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s11 {
  width: 91.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.offset-s1 {
  margin-left: 8.3333333333%;
}

.row .col.pull-s1 {
  right: 8.3333333333%;
}

.row .col.push-s1 {
  left: 8.3333333333%;
}

.row .col.offset-s2 {
  margin-left: 16.6666666667%;
}

.row .col.pull-s2 {
  right: 16.6666666667%;
}

.row .col.push-s2 {
  left: 16.6666666667%;
}

.row .col.offset-s3 {
  margin-left: 25%;
}

.row .col.pull-s3 {
  right: 25%;
}

.row .col.push-s3 {
  left: 25%;
}

.row .col.offset-s4 {
  margin-left: 33.3333333333%;
}

.row .col.pull-s4 {
  right: 33.3333333333%;
}

.row .col.push-s4 {
  left: 33.3333333333%;
}

.row .col.offset-s5 {
  margin-left: 41.6666666667%;
}

.row .col.pull-s5 {
  right: 41.6666666667%;
}

.row .col.push-s5 {
  left: 41.6666666667%;
}

.row .col.offset-s6 {
  margin-left: 50%;
}

.row .col.pull-s6 {
  right: 50%;
}

.row .col.push-s6 {
  left: 50%;
}

.row .col.offset-s7 {
  margin-left: 58.3333333333%;
}

.row .col.pull-s7 {
  right: 58.3333333333%;
}

.row .col.push-s7 {
  left: 58.3333333333%;
}

.row .col.offset-s8 {
  margin-left: 66.6666666667%;
}

.row .col.pull-s8 {
  right: 66.6666666667%;
}

.row .col.push-s8 {
  left: 66.6666666667%;
}

.row .col.offset-s9 {
  margin-left: 75%;
}

.row .col.pull-s9 {
  right: 75%;
}

.row .col.push-s9 {
  left: 75%;
}

.row .col.offset-s10 {
  margin-left: 83.3333333333%;
}

.row .col.pull-s10 {
  right: 83.3333333333%;
}

.row .col.push-s10 {
  left: 83.3333333333%;
}

.row .col.offset-s11 {
  margin-left: 91.6666666667%;
}

.row .col.pull-s11 {
  right: 91.6666666667%;
}

.row .col.push-s11 {
  left: 91.6666666667%;
}

.row .col.offset-s12 {
  margin-left: 100%;
}

.row .col.pull-s12 {
  right: 100%;
}

.row .col.push-s12 {
  left: 100%;
}
@media only screen and (max-width: 600px) {
  .row > .col.s12 {
    padding-top: 1.5rem;
  }
  .row > .col.s12:first-child {
      padding-top: 0;
  }
}
@media only screen and (min-width: 601px) {
  .row .col.m1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.offset-m1 {
    margin-left: 8.3333333333%;
  }
  .row .col.pull-m1 {
    right: 8.3333333333%;
  }
  .row .col.push-m1 {
    left: 8.3333333333%;
  }
  .row .col.offset-m2 {
    margin-left: 16.6666666667%;
  }
  .row .col.pull-m2 {
    right: 16.6666666667%;
  }
  .row .col.push-m2 {
    left: 16.6666666667%;
  }
  .row .col.offset-m3 {
    margin-left: 25%;
  }
  .row .col.pull-m3 {
    right: 25%;
  }
  .row .col.push-m3 {
    left: 25%;
  }
  .row .col.offset-m4 {
    margin-left: 33.3333333333%;
  }
  .row .col.pull-m4 {
    right: 33.3333333333%;
  }
  .row .col.push-m4 {
    left: 33.3333333333%;
  }
  .row .col.offset-m5 {
    margin-left: 41.6666666667%;
  }
  .row .col.pull-m5 {
    right: 41.6666666667%;
  }
  .row .col.push-m5 {
    left: 41.6666666667%;
  }
  .row .col.offset-m6 {
    margin-left: 50%;
  }
  .row .col.pull-m6 {
    right: 50%;
  }
  .row .col.push-m6 {
    left: 50%;
  }
  .row .col.offset-m7 {
    margin-left: 58.3333333333%;
  }
  .row .col.pull-m7 {
    right: 58.3333333333%;
  }
  .row .col.push-m7 {
    left: 58.3333333333%;
  }
  .row .col.offset-m8 {
    margin-left: 66.6666666667%;
  }
  .row .col.pull-m8 {
    right: 66.6666666667%;
  }
  .row .col.push-m8 {
    left: 66.6666666667%;
  }
  .row .col.offset-m9 {
    margin-left: 75%;
  }
  .row .col.pull-m9 {
    right: 75%;
  }
  .row .col.push-m9 {
    left: 75%;
  }
  .row .col.offset-m10 {
    margin-left: 83.3333333333%;
  }
  .row .col.pull-m10 {
    right: 83.3333333333%;
  }
  .row .col.push-m10 {
    left: 83.3333333333%;
  }
  .row .col.offset-m11 {
    margin-left: 91.6666666667%;
  }
  .row .col.pull-m11 {
    right: 91.6666666667%;
  }
  .row .col.push-m11 {
    left: 91.6666666667%;
  }
  .row .col.offset-m12 {
    margin-left: 100%;
  }
  .row .col.pull-m12 {
    right: 100%;
  }
  .row .col.push-m12 {
    left: 100%;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.offset-l1 {
    margin-left: 8.3333333333%;
  }
  .row .col.pull-l1 {
    right: 8.3333333333%;
  }
  .row .col.push-l1 {
    left: 8.3333333333%;
  }
  .row .col.offset-l2 {
    margin-left: 16.6666666667%;
  }
  .row .col.pull-l2 {
    right: 16.6666666667%;
  }
  .row .col.push-l2 {
    left: 16.6666666667%;
  }
  .row .col.offset-l3 {
    margin-left: 25%;
  }
  .row .col.pull-l3 {
    right: 25%;
  }
  .row .col.push-l3 {
    left: 25%;
  }
  .row .col.offset-l4 {
    margin-left: 33.3333333333%;
  }
  .row .col.pull-l4 {
    right: 33.3333333333%;
  }
  .row .col.push-l4 {
    left: 33.3333333333%;
  }
  .row .col.offset-l5 {
    margin-left: 41.6666666667%;
  }
  .row .col.pull-l5 {
    right: 41.6666666667%;
  }
  .row .col.push-l5 {
    left: 41.6666666667%;
  }
  .row .col.offset-l6 {
    margin-left: 50%;
  }
  .row .col.pull-l6 {
    right: 50%;
  }
  .row .col.push-l6 {
    left: 50%;
  }
  .row .col.offset-l7 {
    margin-left: 58.3333333333%;
  }
  .row .col.pull-l7 {
    right: 58.3333333333%;
  }
  .row .col.push-l7 {
    left: 58.3333333333%;
  }
  .row .col.offset-l8 {
    margin-left: 66.6666666667%;
  }
  .row .col.pull-l8 {
    right: 66.6666666667%;
  }
  .row .col.push-l8 {
    left: 66.6666666667%;
  }
  .row .col.offset-l9 {
    margin-left: 75%;
  }
  .row .col.pull-l9 {
    right: 75%;
  }
  .row .col.push-l9 {
    left: 75%;
  }
  .row .col.offset-l10 {
    margin-left: 83.3333333333%;
  }
  .row .col.pull-l10 {
    right: 83.3333333333%;
  }
  .row .col.push-l10 {
    left: 83.3333333333%;
  }
  .row .col.offset-l11 {
    margin-left: 91.6666666667%;
  }
  .row .col.pull-l11 {
    right: 91.6666666667%;
  }
  .row .col.push-l11 {
    left: 91.6666666667%;
  }
  .row .col.offset-l12 {
    margin-left: 100%;
  }
  .row .col.pull-l12 {
    right: 100%;
  }
  .row .col.push-l12 {
    left: 100%;
  }
}



